body {
  margin: 0;
  height: 100vh;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  user-select: none;
  -webkit-user-select: none; /* iOS에서도 텍스트 선택 방지 */
  -webkit-touch-callout: none; /* iOS에서 텍스트 선택 방지 */
  -webkit-user-drag: none; /* iOS에서 드래그 방지 */
  overflow: hidden;
  font-size: 4em;
}

html,
body {
  height: 90%; /* 화면을 세로로 꽉 채움 */
  margin: 0; /* 기본 여백 제거 */
  overflow: hidden; /* 확대 방지를 위한 추가 설정 */
}

body.green {
  background: rgb(66, 180, 66); /* 초록 */
}

body.red {
  background: rgb(228, 55, 55); /* 빨강 */
}

#container {
  text-align: center;
}

#time,
#height {
  font-size: 2em;
  margin: 10px 0;
}
